<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link
  href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  rel="stylesheet"
/>
<link href="stylesheets/chat.css" rel="stylesheet" />

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card card-bordered">
          <div class="card-header">
            <h4 class="card-title"><strong>Chat</strong></h4>
          </div>

          <div
            class="ps-container ps-theme-default ps-active-y"
            id="chat-conteudo"
            style="overflow-y: scroll !important; height: 400px !important"
          ></div>

          <form action="javascript:enviaMensagens()">
            <div class="publisher bt-1 border-light">
              <% if(locals.imagem) {%> <% if(locals.imagem.search("https") ==
              -1){%>
              <img
                src="/imagens/<%=imagem %>"
                alt="Foto de perfil"
                class="w-10 h-10 rounded-full"
              />
              <% } else{%>
              <img
                src="<%=imagem%>"
                alt="Foto de perfil"
                class="w-10 h-10 rounded-full"
              />
              <% }%> <% } else{%>
              <img
                src="/imagens/userDefault.png"
                alt="Foto de perfil"
                class="w-10 h-10 rounded-full"
              />
              <%}%>

              <input
                class="publisher-input"
                type="text"
                placeholder="escreva uma mensagem"
                id="mensagem"
              />

              <button type="submit">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/chat.js"></script>
<script type="text/javascript" language="javascript">
  buscaMensagens() // dispara a função para já buscar os dados quando carregar a página
  // Executa novamente a função a cada 5000 milissegundos (5 segundos)
  setInterval('buscaMensagens()', 5000)
</script>
